In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("spam.csv", encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.shape

(5572, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [9]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace= True)

In [11]:
df.sample(5)

       v1                                                 v2
3116  ham                            Now am free call me pa.
3487  ham                Still i have not checked it da. . .
1067  ham  Meeting u is my work. . . Tel me when shall i ...
2930  ham                     Hi' Test on  &lt;#&gt; rd ....
2391  ham                        PICK UR FONE UP NOW U DUMB?

In [13]:
df.rename(columns={"v1":"target","v2":"text"}, inplace=True)
df.sample(5)

     target                                               text
1672   spam  URGENT! We are trying to contact U. Todays dra...
4473   spam  Want explicit SEX in 30 secs? Ring 02073162414...
309     ham  Where are the garage keys? They aren't on the ...
1555    ham  Ok i found dis pierre cardin one which looks n...
3948    ham  HMM yeah if your not too grooved out! And im l...

In [14]:
from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()

In [17]:
df["target"] = en.fit_transform(df["target"])

In [18]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...