In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("spam.csv", encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [6]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace= True)

In [7]:
df.sample(5)

        v1                                                 v2
3483   ham  Tell my  bad character which u Dnt lik in me. ...
4691   ham  By march ending, i should be ready. But will c...
5164  spam  Congrats 2 mobile 3G Videophones R yours. call...
3171   ham  Do u still have plumbers tape and a wrench we ...
2649   ham  You might want to pull out more just in case a...

In [8]:
df.rename(columns={"v1":"target","v2":"text"}, inplace=True)
df.sample(5)

     target                                               text
1992   spam  Free tones Hope you enjoyed your new content. ...
596     ham                      Gud mrng dear have a nice day
3000   spam  This message is free. Welcome to the new & imp...
48      ham  Yeah hopefully, if tyler can't do it I could m...
2825    ham                                          Ok lor...

In [9]:
from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()

In [10]:
df["target"] = en.fit_transform(df["target"])

In [11]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [13]:
df.duplicated().sum()

403

In [16]:
df = df.drop_duplicates(keep='first')

In [17]:
df.shape

(5169, 2)

In [18]:
df['target'].value_counts()

0    4516
1     653
Name: target, dtype: int64

In [19]:
import nltk

In [29]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\abhis\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True